<% @appointment_times.each do |time| %>
  <table>
    <tr>
      <td><%= time.strftime("%H:%M") %><td>
      <td><%= link_to "Book Appointment",new_patient_appointment_path %></td>
    </tr>
  </table>
<% end %>