<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Welcome to Calen<font color="red">DR.</font></h1>
      <h4>The Ideal <font color="#2383c4">Physician Scheduling</font> Solution</h4>
      <%= link_to 'Sign Up Now', new_user_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>