<h2>Thanks for booking an appointment with <%= @doctor.name %>. An email will follow with the details of your appointment booking.</h2>


<div>
  Your appointment is at: <%= @patient_appointment.start_time.strftime('%H:%M') %>
</div>

<div>
  On <%= @patient_appointment.date.strftime('%A %B %-d, %Y') %>
</div>